.register{
    display: flex;
    height: 500px;
    width: 800px;

    margin-right: auto;
    margin-top: 40px;
    margin-left: auto;
   
}
.register .img .ecelimg{
    height: 500px;
    width: 400px;
}
.register .register-form{
    
    background-color: #161D6F;
    height: 380px;
    color: white;
    width: 1000px;
    padding: 50px;
}
.register .logo{
    height: 70px;
    width: 70px;
    border-radius: 50px;
}
input{
    margin-bottom: 30px;
    height: 20px;
    width: 250px;
    background-color: white;
    border: 0px solid white;
    border-radius: 20px;
    text-align: center;
}
.register .register-form button{
    height: 40px;
    width: 250px;
    border-radius: 20px;
    background-color: #161D6F;
    color: white;
    border: 2px solid white;
}
.register .register-form h2{
    margin-bottom: 40px;
}
a{
    color: white;
   
}